<a href="https://colab.research.google.com/github/evarahma61/sharing-github/blob/master/Tugas2_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Quiz 1 : Sifat List</h2>

Jawab Pertanyaan di bawah ini :

Jenis data apa saja yang bisa ada di dalam List?

Integer, Double, String, Float, Boolean

<h2>Quiz 2 : Akses List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
# slicing list
........

In [0]:
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
print(a[1:5])

['13b', 'aa1', 1.32, 22.1]

Expected Output :

[ '13b', 'aa1', 1.32, 22.1 ]

<h2>Quiz 3 : Nested List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = [1.32, 22.1, 2.34]
b = ['1', '13b', 'aa1']
c = [3, 40, 100]
# combine list

In [0]:
a = [1.32, 22.1, 2.34]
b = ['1', '13b', 'aa1']
c = [3, 40, 100]
d = [a, c, b]
print(d)

[[1.32, 22.1, 2.34], [3, 40, 100], ['1', '13b', 'aa1']]

Expected Output :

[ [1.32, 22.1, 2.34], [3, 40, 100], ['1', '13b', 'aa1'] ]

<h2>Quiz 4 : Akses Nested List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
print([a[1][1],a[1][2]])

[0, 6]

Expected Output :


[0, 6]

<h2>Quiz 5 : Built in Function List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
p = [0, 5, 2, 10, 4, 9]
# ordered list
print(....(p, reverse=False))
# get max value of list
print(....(p))

In [0]:
p = [0, 5, 2, 10, 4, 9]
print(sorted(p, reverse=False))
print(max(p))

[0, 2, 4, 5, 9, 10]
10

Expected Output :

[0, 2, 4, 5, 9, 10]

10

<h2>Quiz 6 : List Operation</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = [1, 3, 5]
b = [5, 1, 3]
# combine list
.......

In [0]:
a = [1, 3, 5]
b = [5, 1, 3]
print(b+a)

[5, 1, 3, 1, 3, 5]

Expected Output :

[5, 1, 3, 1, 3, 5]

<h2>Quiz 7 : List Manipulation</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
# change list value
.....
# change list value
.....
print(a)

In [0]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
a[0][2] = 10
a[1][0] = 11
print(a)

[[5, 9, 10], [11, 0, 6]]

Expected Output :

[ [5, 9, 10], [11, 0, 6] ]

<h2>Quiz 8 : Delete Element List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

# Hilangkan elemen yang bernilai "bathroom" dan 10.50 dalam satu statement code
........
print(areas)

Expected Output :

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'poolhouse',
 24.5,
 'garage',
 15.45]

In [0]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
# areas = [e for e in areas if e not in ('bathroom', 10.50)]
del areas[8:10]
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]