<a href="https://colab.research.google.com/github/evarahma61/sharing-github/blob/master/Tugas_Day1_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Quiz 1 : Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [0]:
# Membuat dataframes dari dictionary
import pandas  as pd

dataMahasiswa = {'name' : ['Eva','title','bright'],
                 'age' : [19, 20, 21],
                 'city' : ['tokyo', 'bangkok', 'kuala lumpur']
                }
pd.DataFrame(dataMahasiswa)

     name  age          city
0     Eva   19         tokyo
1   title   20       bangkok
2  bright   21  kuala lumpur

<h2>Quiz 2 : Membaca data dari file</h2>

Download file bernama diamonds.csv, kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [0]:
# Membaca data dan memasukannya kedalam suatu variabel
import pandas as pd

df_diamonds = pd.read_csv('https://blog.sanbercode.com/wp-content/uploads/2020/04/diamonds-1.csv')
print(df_diamonds.head(10))

   Unnamed: 0  carat        cut color clarity  ...  table  price     x     y     z
0           1   0.23      Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21    Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23       Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29    Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31       Good     J     SI2  ...   58.0    335  4.34  4.35  2.75
5           6   0.24  Very Good     J    VVS2  ...   57.0    336  3.94  3.96  2.48
6           7   0.24  Very Good     I    VVS1  ...   57.0    336  3.95  3.98  2.47
7           8   0.26  Very Good     H     SI1  ...   55.0    337  4.07  4.11  2.53
8           9   0.22       Fair     E     VS2  ...   61.0    337  3.87  3.78  2.49
9          10   0.23  Very Good     H     VS1  ...   61.0    338  4.00  4.05  2.39

[10 rows x 11 columns]

Expected Result :

![image.png](attachment:image.png)

<h2>Quiz 3 : DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

- Series adalah array satu dimensi dengan label-axis, yang memperbolehkan menyimpan data yg seperti integer, string, dan lain sebagainya. tipe data dari objek series ini harus seragam
- Untuk List, merupakan struktur data pada python yang mampu menyimpan lebih dari satu data,seperti array.
- Sedangkan dictionary adalah struktur data default dari python yang dapat menyimpan pasangan key : value, dan dapat menggunakan beberapa method built-in untuk manipulasi data.

- Series merupakan objek satu dimensi sedangkan DataFrame objek dua dimensi. Oleh karena itu, kolom DataFrame tunggal dapat memiliki nama untuk kolom tunggal tetapi Seri tidak dapat memiliki nama kolom. Dan terlebih lagi, setiap kolom DataFrame dapat dikonversi ke seri.

In [0]:
# code here
s = ['hai','anyeong','bonjour','hi','watasiwa']
pd.Series(s)

0         hai
1     anyeong
2     bonjour
3          hi
4    watasiwa
dtype: object

<h2>Quiz 4 : Pemeriksaan Data Sederhana</h2>

Di quiz no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari :
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [0]:
# code here
import pandas as pd

df_diamonds = pd.read_csv('diamonds-1.csv')
df_diamonds['price'].head(1)
df_diamonds['color'].tail(1)

53939    D
Name: color, dtype: object

<h2>Quiz 5 : Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Statistika deskriptif merupakan suatu metode yang berhubungan dengan pengumpulan atau penyajian data sampai memberi informasi yang berguna.

<h2>Quiz 6 : Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [0]:
# code here
df_diamonds.describe()

         Unnamed: 0         carat  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean   26970.500000      0.797940  ...      5.734526      3.538734
std    15571.281097      0.474011  ...      1.142135      0.705699
min        1.000000      0.200000  ...      0.000000      0.000000
25%    13485.750000      0.400000  ...      4.720000      2.910000
50%    26970.500000      0.700000  ...      5.710000      3.530000
75%    40455.250000      1.040000  ...      6.540000      4.040000
max    53940.000000      5.010000  ...     58.900000     31.800000

[8 rows x 8 columns]

In [0]:
import pandas as pd

df_diamonds = pd.read_csv('https://blog.sanbercode.com/wp-content/uploads/2020/04/diamonds-1.csv')

# nilai rata-rata dari column price
print("nilai rata-rata dari column price : " , df_diamonds['price'].mean())

# nilai standar deviasi dari column depth
print("nilai standar deviasi dari column depth : ", df_diamonds['depth'].std())

# nilai maximum dari column carat
print("nilai maximum dari column carat : ", df_diamonds['carat'].max())

nilai rata-rata dari column price :  3932.799721913237
nilai standar deviasi dari column depth :  1.4326213188337733
nilai maximum dari column carat :  5.01